.add-form-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
}

.add_form {
    position: relative;
    display: flex;
    background-color: bisque;
    padding: 20px 40px;
    justify-content: space-around;
    width: 80%;
    margin-bottom: 20px;
    border-radius: 10px;
    align-items: center !important;
    align-content: center;
}

.add-input {
    display: flex;
}

.btn-pos {
    position: relative;
    top: 8px
}

.inut-border {
    display: flex;
    justify-content: center;
    border-style: none;
    padding: 10px !important;
    border-radius: 10px;
    text-align: center;
}

.inut-border:focus {
    background-color: rgb(250, 240, 228);
    border-bottom: 1px solid cadetblue;
}

.inut-border:focus {
    outline: none;
}

.title-name {
    font-size: 20px;
}

.btn-success{
    border: none;
    background-color:#198754;
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-size: 16px;
}

.btn-success:hover{
    cursor: pointer;
    background-color: #105c39;
}

@media only screen and (max-width: 800px) {
    .add_form  {
    display: flex;
    flex-direction: column;
   
       
    }
}

@media only screen and (max-width: 800px) {
    .add-inpt  {
       margin: 8px;
    }
}